.navbar-custom {
    background-color: #AC3B61;    
}


body {
    background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
    font-family: "New Times Roman";
    
}

card {
    background: #0298cf;
}


h4 {
    font-family: "New Times Roman";
}

